.profile {
    color: #ffffff; 
    font-family: monospace; 
    font-size: 0.9em; 
    text-align: center; 
    margin-bottom: 40px; 
  }
  
  .profile h1 {
    font-size: 2em; 
    font-weight: bold; 
    margin-bottom: 0.5em; 
  }
  
  .profile p {
    font-size: 1em; 
    margin-bottom: 0.15em; 
    color: #ffffff; 
  }
  .profile-avatar {
    width: 100px; 
    height: 100px; 
    border-radius: 55%; 
    margin-bottom: 10px; 
  }
  
  